{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    },
    "@babel/preset-env"
  ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "babel-plugin-root-import", {
        "paths": [
          {
  
            "rootPathSuffix": "./src/",
            "rootPathPrefix": "~/"
          },
          {
            "rootPathSuffix": "./client-app/src/",
            "rootPathPrefix": "client/"
          }

        ]
      }
    ]
  ]
}